nb-card{
    margin: 0 auto;
    max-width: 400px;
    min-height: 0px;
}

h1{
    text-align: center;
    align-items: center;
    font-size: calc(50px + 2vw);
    line-height: 80px;
}

nb-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
}


