<!-- Title -->
<h1>{{title}}</h1>

<!-- Input studenti -->
<nb-card>

    <nb-form-field>
        <button nbTooltip="Aggiungi studente" nbPrefix nbButton ghost nbSuffix size="giant" (click)="addStudent()">
            <nb-icon icon="plus"></nb-icon>
        </button>

        <input type="text" nbInput #inputName fullWidth fieldSize="giant" placeholder="Inserisci un nome"
            [status]="isValid ? 'basic' : 'danger'" [(ngModel)]="student" (keydown.enter)="addStudent()">

        <button [disabled]="studentList.length === 0" nbButton nbSuffix nbTooltip="Estrai studente" fullWidth
            size="giant" status="primary" (click)="drawStudent()">
            <nb-icon icon="person"></nb-icon>

        </button>
    </nb-form-field>
</nb-card>


<!-- Lista studenti -->
<nb-card *ngIf="studentList.length > 0">
    <nb-card-header>
        Studenti da estrarre
        <button nbTooltip="Cancella lista" nbButton ghost size="small" status="danger" (click)="removeStudent()">
            <nb-icon icon="trash"></nb-icon>
        </button>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let student of studentList">
            <button nbButton ghost shape="round" size="small" status="danger" (click)="removeStudent(student)">
                <nb-icon icon="close"></nb-icon>
            </button>
            {{student | titlecase}}
        </nb-list-item>
    </nb-list>
</nb-card>